name: Build

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout
          uses: actions/checkout@v3
          
        - name: Build executible
          uses: houseabsolute/actions-rust-cross@v0
          with:
              executable-name: group-organizer
              target:  x86_64-pc-windows-gnu
              args: "--release"
              strip: true

        - name: Release
          uses: houseabsolute/actions-rust-release@v0
          with:
            executable-name: group-organizer
            target: x86_64-pc-windows-gnu
